@font-face {
	font-family: 'PosteRetro';
	src: url('fonts/posteretro.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/posteretro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/posteretro.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/posteretro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/posteretro.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/posteretro.svg#posteretro') format('svg'); /* Chrome < 4, Legacy iOS */
}
